In [8]:
import pandas as pd

df=pd.read_csv("sales_data.csv", parse_dates=["Date"])

#Calculating total amount
df["TotalAmount"]=df["Quantity"]*df["Price"]      

df["Month"]=df["Date"].dt.to_period("M")

monthly_summary=df.groupby("Month").agg(total_sales=("TotalAmount","sum"), order_count=("OrderID","count")).reset_index()

print("Monthly sales summary:\n", monthly_summary)

#Top-selling category
top_category= df.groupby("Category")["Quantity"].sum().sort_values(ascending=False)
print("\n Sales by Category:\n", top_category)

Monthly sales summary:
      Month  total_sales  order_count
0  2024-01       112.49            3
1  2024-02       160.00            2
2  2024-03        93.00            2

 Sales by Category:
 Category
Stationery     18
Electronics     6
Name: Quantity, dtype: int64

In [10]:
from pandasql import sqldf

# 1. Period 
if 'Month' in df.columns and df['Month'].dtype.name == 'period[M]':
    df['Month'] = df['Month'].astype(str)

# 2.definition of pysqldf 
pysqldf = lambda q: sqldf(q, globals())

# 3. SQL 
query1 = """
SELECT Customer, SUM(Quantity * Price) AS TotalSpent
FROM df
GROUP BY Customer
ORDER BY TotalSpent DESC
"""
print(pysqldf(query1))

  Customer  TotalSpent
0    David      150.00
1      Eve       90.00
2    Alice       65.49
3      Bob       60.00